<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flex</title>
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>
<body>
    <div class="box1">
        <span class="item">Flex哈哈哈</span>
    </div>

    <div class="box2">
        <span class="item">Flex哈哈哈</span>
    </div>

    <div class="box3">
        <span class="item3">Flex哈哈哈</span>
    </div>

    <div class="box4">
        <span class="item4">Flex哈哈哈</span>
    </div>

    <div class="box5">
        <div class="column5">
            <span class="item5">Flex哈哈哈</span>
            <span class="item5">Flex哈哈哈</span>
        </div>
        <div class="column5">
            <span class="item5">Flex哈哈哈</span>
            <span class="item5">Flex哈哈哈</span>
        </div>
    </div>

    <div class="box6">
        <span class="item6">Flex哈哈哈</span>
    </div>

    <div class="box7">
        <div class="row7">
            <span class="item7">Flex哈哈哈</span>
            <span class="item7">Flex哈哈哈</span>
            <span class="item7">Flex哈哈哈</span>
        </div>
        <div class="row7">
            <span class="item7">Flex哈哈哈</span>
        </div>
        <div class="row7">
            <span class="item7">Flex哈哈哈</span>
            <span class="item7">Flex哈哈哈</span>
        </div>
    </div>

    <div class="box8">
        <span class="item8">Flex哈哈哈</span>
    </div>
</body>
</html>